{% set title = "events" %}
{% set entries = craft.entries.section('events').order('startTime desc').startTime('> 2015-12-31') %}
{% set bodyClasses = "events-index" %}
{% extends "_layouts/default.html" %}

{% block meta %}
<meta property="og:url" content="<%= request.url %>" /> 
<meta property="og:title" content="Convergence" />
<meta property="og:description" content="Music + Art + Technology" /> 
<meta property="og:image" content="http://<%= request.host %><%= asset_path 'logo.png' %>" />
<meta property="og:type" content="website" />

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@ConvergenceLDN">
<meta name="twitter:title" content="Convergence news">
<meta name="twitter:description" content="Music + Art + Technology">
{% endblock %}

{% block page_content %}
<div id="container">
  <div class="content">
    <div class="body">
      <div class="blog">

      {% if not entries | length %}
        <p style="height:600px;font-size:40px">Convergence 2016 programme coming soon&hellip;</p>
      {% endif %}
        {% for entry in entries %}
          <div style="position:relative">
            <h1>{{ entry.getLink() }}</h1>
            <div class="datesquare">
              <p>{{ entry.startTime| date("d")| upper }}</p>
              <p>{{ entry.endTime| date("M")| upper }}</p>
            </div>
            <p class="time"><b>{{ entry.startTime| date("d F Y")| upper }}</b></p>
            <p class="address">{{ entry.venue.first }}</p>
            <p class="address">{{ entry.startTime| date("H:i")| upper }} - {{ entry.endTime| date("H:i")| upper }}</p>
            {% if entry.allDay | length %}<p>ALL DAY</p>{% endif %}
            <a href="/events/{{ entry.slug }}"><img src="{{ entry.eventImage.first.getUrl('x504') }}" /></a>
            <p>{{ entry.body|hacksaw(words='100', append='&hellip;') }}</p>
            <p><a href="/events/{{ entry.slug }}">&hellip;read more</a></p>
            <p>£{{ entry.price }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
    {% include "_partials/share" %}
    <div class="body">
    </div>
  </div>
</div>
{% endblock %}