{% set title = "News" %}
{% set bodyClasses = "blogs-index" %}
{% extends "_layouts/default.html" %}

{# Get search parameters from the URL query string #}
{% set tag = craft.request.getParam('tag') %}

{% if tag is not null %}

    {% set tag = craft.tags.name(tag).first() %}
    {% set entries = craft.entries.relatedTo(tag).order('postDate desc') %}

{% else %} {# No tag token in URL, assume unfiltered overview page. #}

    {% set entries = craft.entries.section('news').order('postDate desc') %}

{% endif %}


{% block meta %}
<meta property="og:url" content="{{ craft.request.url }}" /> 
<meta property="og:title" content="Convergence" />
<meta property="og:description" content="Music + Art + Technology" /> 
<meta property="og:image" content="http://{{ craft.request.url }}{{ 'logo.png' }}" />
<meta property="og:type" content="website" />

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@ConvergenceLDN">
<meta name="twitter:title" content="Convergence news">
<meta name="twitter:description" content="Music + Art + Technology">
{% endblock %}

{% block page_content %}

<div id="container">
	<div class="content">
		<div class="body">
			<div class="blog">
				{% for entry in entries %}
					<h1>{{ entry.getLink() }}</h1>
					<p class="author">{{ entry.postDate | date("d F Y")| upper }}</p>
					<a href="/news/{{entry.slug }}"><img src="{{ entry.newsImage.first.getUrl('x1280x500') }}" /></a>
					<p>{{ entry.body|hacksaw(words='100', append='&hellip;') }}</p>
            		<p><a href="/news/{{ entry.slug }}">&hellip;read more</a></p>
				{% endfor %}
			</div>
		</div>
		{% include "_partials/share" %}

		<div class="body">
			
		</div>
	</div>
</div>
{% endblock %}

{% block page_scripts %}
{% endblock %}

