{% set title = entry.title %}
{% set bodyClasses = "blogs-show" %}
{% extends "_layouts/default.html" %}

{% block meta %}
<meta property="og:url" content="{{ request.url }}" /> 
<meta property="og:title" content="{{ entry.title }}" />
<meta property="og:description" content="" /> 
<meta property="og:image" content="" />
<meta property="og:type" content="website" />

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@ConvergenceLDN">
<meta name="twitter:creator" content="@ConvergenceLDN">
<meta name="twitter:title" content="">
<meta name="twitter:description" content="">
<meta name="twitter:image:src" content="">
{% endblock %}

{% block page_content %}
<div id="container">
    <img src="{{ entry.eventImage.first.getUrl('x504') }}" />

	<div class="content">
		<div class="body">
			<div class="blog">
				<h1>{{ entry.title }}</h1>
				<div class="datesquare">
					<p>{{ blog.postDate | date("d") }}</p>
					<p>{{ blog.postDate | date("d f") }}</p>
				</div>
				<p class="author">{{ entry.postDate | date("d F Y")| upper }}</p>
				{{ entry.body }}
			</div>
		</div>
		{% include "_partials/share" %}

		<div class="body">
			<div class="blog">
				<div class="cvg-disqus">
					<div id="disqus_thread">
					</div>
				    <script type="text/javascript">
				        var disqus_shortname = 'convergencelondon';
				        /* * * DON'T EDIT BELOW THIS LINE * * */
				        (function() {
				            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
				            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
				            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
				        })();
				    </script>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}