<script type="text/javascript" async src="//platform.twitter.com/widgets.js"></script>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1497478090528421',
      xfbml      : true,
      version    : 'v2.1'
    });

    $(function(){
      $("#cvgfb").click(function(e){
        e.preventDefault();
        FB.ui({
          method: 'share',
          href: '{{ craft.request.url }}'
        });
      })
    })
  };

  (function(d, s, id){
   var js, fjs = d.getElementsByTagName(s)[0];
   if (d.getElementById(id)) {return;}
   js = d.createElement(s); js.id = id;
   js.src = "//connect.facebook.net/en_US/sdk.js";
   fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

</script>