<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>
      convergence: {% if title %}{{ title }}{% endif %}
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}{% endblock %}

    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">

    {# Page-specific styles (if they exist) #}
    {% block page_styles %}{% endblock %}

    {# Enable livereload if we're developing locally #}
    {% if craft.config.env == "local" %}
      {% spaceless %}
        <script type="text/javascript">//<![CDATA[
          document.write('<script src="' + (location.protocol || 'http:') + '//' + (location.hostname || 'localhost') + ':35729/livereload.js?snipver=1" type="text/javascript"><\/script>')
        //]]></script>
      {% endspaceless %}
    {% endif %}
  </head>

  <body class="{{ bodyClasses ?: '' }}">
    <div id="wrapper"></div>
    <div class="inside-container" style="max-width: 1280px; margin: 0 auto;">
      <span class="player"></span>
      {% include "_partials/splashshift" %}
      
      {% block page_content %}{% endblock %}
      
      {% include "_partials/footer" %}
      
      {# Site-wide javascript #}
      {% if craft.config.env == "local" %}
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/_waypoints.min.js"></script>
        <script src="/assets/js/mailchimp.js"></script>
        <script src="/assets/js/modernizr.js"></script>
        <script src="/assets/js/picturefill.min.js"></script>
        <script src="/assets/js/moment.min.js"></script>
        <script src="/assets/js/waypoints-sticky.min.js"></script>
      {% else %}
        <script src="/assets/js/all.js"></script>
      {% endif %}

      {% block page_script_tags %}{% endblock %}

        <script type="text/javascript">

          jQuery(document).ready(function($) {
            {% block page_scripts %}{% endblock %}
          });

          var SM = {};
          SM.revealed = false;

          $(function(){
            var nav = $('nav');
            $('#conburger').click(function(){
                if(SM.revealed) {
                    nav.toggleClass('open');
                    SM.revealed = false;
                } else {
                    nav.toggleClass('open');
                    SM.revealed = true;
                }
            })
          })
        </script>

      {% include "_partials/sharewidgets" %}
      {% include "_partials/ga" %}
      </div>
  </body>
</html>